.catalog_block{display: inline-block; min-width:170px; width: 14%; margin: 10px;}
.catalog_thumb, .product_thumb{padding: 0; border-radius:0; border: 0;}
.catalog_thumb:hover, .product_thumb:hover{box-shadow: 0 0 3px 0 #ddd;}
.thumbnail > .catalog_img{height: 130px; display: block;overflow: hidden;}
.catalog_thumb img:hover,.product_thumb img:hover{opacity: 0.93;}
.product_block{float: left; min-width:230px; width: 23%; margin: 0 10px 15px;height: 450px;}
.thumbnail > .product_img{height: 280px; display: block; overflow: hidden;}
.no_img_catalog{ display: block; max-height: 165px; overflow: hidden;}