{% load fb_versions  %}
{% if 'html_link' in type %}
    <div class="social">
        {% with html_links=social_network.first.get_html_links %}
            {% for link in html_links %}
                <span title="{{ link.title }}">{{ link.html_link|safe }}</span>
            {% endfor %}
        {% endwith %}

    {% with objects=social_network %}
        {% for obj in objects %}
        {% if obj.get_main_image %}
            <a href="{{ obj.url }}" data-toggle="tooltip" target="_blank" data-placement="top" title="{{ obj.image_title }}">
                <img class='social_network__img' src="{% version obj.get_main_image 'thumbnail' %}">
            </a>
        {% endif %}
        {% endfor %}
    {% endwith %}
    </div>
{% endif %}



