{% load fb_versions %}

{% if home %}

    <section id="promo-slider" class="swiper-container-horizontal">
        <div class="swiper-wrapper">
            {% if home.get_images.exists %}
                {% for i in home.get_images %}
                    <div class="swiper-slide item swiper-slide-prev"
                         style="background-image: url({% version i.image 'max' %})">
                        <div class="center">
                            <div class="table-cell">
                                <div class="details">
                                    <h2 class="title">{{ home.title }}</h2>
                                    <div class="content">{{ home.html|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    {% comment %}
            <div class="swiper-slide item swiper-slide-active"
                 style="background-image: url(&quot;http://cristiano.ukrdevs.com/wp-content/uploads/2016/10/slide-1.jpg&quot;); width: 1544px;">
                <div class="center">
                    <div class="table-cell">
                        <div class="details">
                            <h2 class="title">Cristiano Restaurant</h2>
                            <div class="content">
                                <p><b>Ut enim ad minim veniam</b>, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>

        <div class="slider-button-prev fa fa-caret-left"></div>
        <div class="slider-button-next fa fa-caret-right swiper-button-disabled"></div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
    </section>
{% endif %}