{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ home.seo_title }}{% endblock %}
{% block description %}{{ home.seo_description }}{% endblock %}
{% block keywords %}{{ home.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block main %}

    {% include 'advertising/templates/slider_home.html' %}

    <div id="layout" class="wide">
        <div id="container">
            <div id="content">
                <div class="post-41 page type-page status-publish hentry">

                    {% load get_include_area %}
                    {% get_include_area request code='advantages' %}

                    {% include 'home/templates/content.html' %}

                    {% include 'product/templates/item_bestseller_product.html' with objects=new_products title='Последние работы' %}

                    {% include 'product/templates/item_bestseller_product.html' with objects=bestseller_products title='ТОП' %}

                    <section class="short-info" style="background-image:url({% version home.get_main_image.image 'max' %});">
                        <div class="center"><h2 class="pr-font">Звоните: <a href="tel:{{ setting_template.phone }}">{{ setting_template.phone }}</a></h2></div>
                    </section>

                    {% if home.blog %}
                        {% include 'blog/templates/blog_post_list.html' with obj=home.blog %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_js %}
{#    <script src="{% static 'cart/js/addCartForm.js' %}"></script>#}
{% endblock %}