{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    {% comment %}
     --------------
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/vnd.microsoft.icon" href="">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="72x72" href="">
    <link rel="apple-touch-icon" sizes="114x114" href="">
    <link rel="apple-touch-icon" sizes="144x144" href="">
    -------------------
    {% endcomment %}
    <title>{% block title %}{% endblock %}:Dervek</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="{% block description %}{% endblock %}:Dervek">
    <meta name="keywords" content="{% block keywords %}{% endblock %}:Dervek">
    <meta name="author" content="Marychev Mihail | pyap.ru">
    {% if setting_template.meta %}{{ setting_template.meta|safe }}{% endif %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'theme/css/fons.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/font-awesome.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/magnific-popup.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/swiper.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/grid.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/dervek.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'theme/css/rwd.css' %}" type="text/css" media="all">
    {% block additional_css %}{% endblock %}
</head>

<body>
<div class="wrapper">
    <div class="loader"></div>
    {% if user.is_staff %}
        <a target="_blank" href="/admin" style="position: fixed; color: #D1A054; top:1px; padding: 5px 10px; font-size: 10px; z-index: 30; border: 1px solid #D1A054;">A</a>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="{% static 'theme/js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'theme/js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/widget.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'theme/js/tabs.min.js' %}"></script>

{# ---pYAp --- #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">
    <script src="{% static 'js/imitationPostCsrftoken.js' %}"></script>
    <script src="{% static 'cart/js/addCartForm.js' %}"></script>
    <script src="{% static 'cart/js/editCartForm.js' %}"></script>
    <script src="{% static 'theme/js/pyap.js' %}"></script>
    {% if setting_template.scripts %}{{ setting_template.scripts|safe }}{% endif %}
    {% block additional_js %}{% endblock %}
{# --- end pYAp --- #}

</div>
</body>
</html>