{% extends 'base.html' %}

{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}


{% block content %}

    {% block header %}{% include 'default/header.html' %}{% endblock %}
    {% block breadcrumbs %}{% endblock %}
    {% block leftbar %}{% endblock %}
    {% block main %}{% endblock %}
    <hr>
    <footer id="footer">
        <div class="like-table reset">
            <div class="widget widget_cristiano_contact">
                <h2 class="widgettitle">{{ footer.0.text_info.title }}</h2>
                {{ footer.0.text_info.html|safe }}
            </div>
            <div class="widget widget_cristiano_social">
                <h2 class="widgettitle">Мы в соцсетях</h2>
                <p>Присоединяйтесь к нам в социальных сетях</p>
                <div class="social">
                    {% include 'site_info/templates/social_networs.html' with type='html_link' %}
                </div>
            </div>
        </div>

        <div class='widget widget_cristiano_contact'>
            {% for f in footer %}
                <div class="center">

                {% if f.get_list_link %}
                    <ul class="cols-4 flex-header"><h4>Быстрые ссылкии</h4>
                    {% for ll in f.get_list_link %}
                        <li>
                            <a class='{{ ll.type_link }}_link' href="{{ ll.url }}" title="{{ ll.title }}"
                            {% if 'T' in ll.type_link %} target="_blank" {% endif %}>{{ ll.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if f.catalog.exists %}
                   <ul class="cols-4 flex-header"><h4>Популярные каталоги</h4>
                    {% for c in f.catalog.all %}
                        <li>
                            <a class='T_link' href="{{ c.get_absolute_url }}" title="{{ c.title }}" rel="nofollow">{{ c.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if f.blogs.exists %}
                   <ul class="cols-4 flex-header"><h4>Популярные блоги</h4>
                    {% for b in f.blogs.all %}
                        <li>
                            <a class='T_link' href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                    {% if f.galleries.exists %}
                   <ul class="cols-4 flex-header"><h4>Популярные галереи</h4>
                    {% for g in f.galleries.all %}
                        <li>
                            <a class='T_link' href="{{ g.get_absolute_url }}" title="{{ g.title }}" rel="nofollow">{{ g.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if f.page.exists %}
                    <ul class="cols-4 flex-header"><h4>Популярные страницы</h4>
                    {% for p in f.page.all %}
                        <li>
                            <a class='T_link' href="{% url 'page:page-detail' slug=p.slug %}" title="{{ p.title }}" rel="nofollow">{{ p.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
</div>
            {% endfor %}
        </div>

        <div id="bottom-bar">
            <div class="center">
                <p>
                    <a href="/">{{ setting_template.site.name }}<span>© 1996 - {% now 'Y' %} Все права защищены.</span></a>
                    <small><a class='pull_right' href="/">© [pYAp] ``Создан на движке``</a></small>
                </p>
            </div>

        </div>
    </footer>
    <div id="toTop">&uarr;</div>

{% endblock %}



{% comment %}

    <footer id="my-footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-left">
                        {% if social_network %}
                            <ul class="footer-nav-soc">
                            {% with social_networks=social_network  %}
                                {% for sn in social_networks %}
                                    <li>
                                    {% if sn.image %}
                                        <a href="{{ sn.url }}" data-toggle="tooltip" target="_blank" data-placement="top" title="{{ sn.title }}">
                                            <img class='social_network__img' src="{% version sn.image 'thumbnail' %}">
                                        </a>
                                    {% else %}
                                        <a href="{{ sn.url }}" data-toggle="tooltip" data-placement="top" title="{{ sn.title }}"
                                            class='vk'><i class='fa fa-vk'></i>
                                        </a>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                            </ul>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>



                <div class="col-md-8 footer-right bottom_footer__block">
                {% for f in footer %}
                    <span class="title">{{ f.title }}</span>
                    {% if f.text_info %}
                        <div class="footer-test1">
                            <p class="text">{{ f.text_info.html|safe }}</p>
                        </div>
                    {% endif %}

                    <div class="footer-test2">
                        <ul class="footer-nav-menu">
                            {% if f.get_list_link %}
                                {% for ll in f.get_list_link %}
                                <li>
                                    <a class='{{ ll.type_link }}_link' href="{{ ll.url }}" title="{{ ll.title }}" rel="nofollow"
                                    {% if 'T' in ll.type_link %} target="_blank" {% endif %}>{{ ll.title }}</a>
                                </li>
                                {% endfor %}
                            {% endif %}

                            {% if f.catalog %}
                                {% for c in f.catalog.all %}
                                    <li>
                                        <a class='T_link' href="{{ c|url_handler:'catalog' }}" title="{{ c.title }}" rel="nofollow">{{ c.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}

                            {% if f.page %}
                                {% for p in f.page.all %}
                                    <li>
                                        <a class='T_link' href="{% url 'page:page-detail' slug=p.slug %}" title="{{ p.title }}" rel="nofollow">{{ p.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>

                {% endfor %}
                    <section class="footer-test3">
                        <span class="title">Подписаться на новости</span>
                        <form action="" method="get">
                            <input type="email" name="email" placeholder="Email" required>
                            <button class="button" type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </form>
                    </section>
                    </div>

                </div>

    </footer>

{% endcomment %}


