{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load url_handler %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ title }}{% endblock %}
{% block keywords %}{{ title }}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'catalog/catalog.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">
{% endblock %}


{% block main %}
    <div class='container'>
        <h2 class='text-center'>{{ title }}</h2>
        {% include 'catalog_product_list.html' with products=results css_class='col-md-3' %}
    </div>
{% endblock %}

{% block additional_js %}
    <script src="{% static 'cart/js/addCartForm.js' %}"></script>
{% endblock %}