<div id="button-search">
    <span class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
</div>
<div id="form-search">
    <form id="searchform" action="{% url 'search:search' %}" method="get" accept-charset="utf-8"> {#  {% url 'search' %}   #}
        <input class="search" id="searchbox" name="q" type="text" placeholder="Поиск">
        <button class="btn btn_search" type="submit">ok</button>
    </form>
</div>