{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ page.seo_title }}{% endblock %}
{% block description %}{{ page.seo_description }}{% endblock %}
{% block keywords %}{{ page.seo_keywors }}{% endblock %}

{% comment %}
---------------------------------------------------------------------------------------------------
{% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj=page %}{% endblock %}

{% block leftbar %}{% include 'default/leftbar.html' %}{% endblock %}
---------------------------------------------------------------------------------------------------
{% endcomment %}



{% block main %}
    <div id="page-header" {% if object.get_main_image %}style="background-image: url({% version object.get_main_image.image 'max' %});"{% endif %}>
        <div class="center"><h1>{{ object.title }}</h1></div>
	</div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">
                <article id="post-{{ object.id }}" class="article no-margin even post-{{ object.id }} post type-post">
                    <div class="section-title">
                        <p class="subtitle">***</p>
                        <h3 class="pr-font">{{ object.seo_title }}</h3>
                        {% if object.description %}<blockquote>{{ object.description }}</blockquote>{% endif %}

                    </div>
                    <div class="details_max">
                        <div class="content">{{ object.html|safe }}</div>
                        <time class="date pr-font" datetime="{{ object.created }}">{{ object.created }}</time>
                    </div>
                </article>
            </div>
        </div>

     {% if object.scripts %}{{ object.scripts|safe }}{% endif %}

    {% if object.is_allow_comments %}
        <div class="center">
            <hr>
            <div class="section-title">
                <p class="subtitle">Оставьте свой коментарий или задайте вопрос</p>
                <h4>Оставить комментарий</h4>
            </div>
            <form method="post" action="{% url 'page:page_comment' object.id %}">{% csrf_token %}
                <div id="form-messages" class="submit-form-message">{{ comment_form.errors }}</div>
                <div class="form-item">{{ comment_form }}</div>
                <input type="submit" class="btn-form" value="Оставить коментарий">
            </form>
        </div>
        <br><br><br>

    {% endif %}

    </div>


{% endblock %}

{% block additional_js %}{% endblock %}

