{% load staticfiles %}
{% load fb_versions %}

{% if objects %}
<section id="most-popular"  class="related products">
    <div class="center">
        <div class="section-title"><p class="subtitle">***</p><h3 class="pr-font">{% if title %}{{ title }}{% endif %}{{ object.title }}</h3></div>
        <ul id="product-list" class="cols-3 margin-large flex">
            {% with objects=objects %}
                {% for product in objects %}
                    <li>
                        <div class="product type-product status-publish has-post-thumbnail product_cat-pizza first instock featured shipping-taxable purchasable product-type-simple">
                            <a class="image" href="{{ product.get_absolute_url }}">
                                <img width="400" height="290" class="attachment-shop_catalog size-shop_catalog wp-post-image" src="{% version product.get_main_image.image 'medium' %}" title="{{ product.seo_title }}" alt="{{ product.title }}">
                                {% if product.get_price %}
                                    <span class="price">
                                        <span class="dervek-Price-amount amount">
                                            {% comment %}<span class="dervek-Price-currencySymbol">$</span>30.00{% endcomment %}
                                            {% include 'product/templates/product_price.html' with obj=product %}
                                        </span>
                                    </span>
                                {% endif %}
                            </a>
                            <div class="description">
                                <h2 class="title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                {% if product.articul %}<small>{{ product.articul }}</small><br>{% endif %}
                                {% if product.get_price %}
                                    <a rel="nofollow" class='jsAddToCart btn-cart button product_type_simple add_to_cart_button ajax_add_to_cart'
                                       {% comment %}data-quantity="1" data-product_id="22" data-product_sku=""{% endcomment %}
                                       data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">В корзину</a>
                                    <div id="ajaxError"></div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>
</section>
{% endif %}
<br><br><br>
{#        <div class="col-md-3 col-sm-6 col-xs-12">#}
{#            <div class="item">#}
{#                <div class="item-wrap">#}
{#                    <a href="{% if product.catalog.first %}{% url 'product:product-detail' product.catalog.first.slug product.slug %}{% endif %}">#}
{#                        {% thumbnail product.image '265x180' crop="center" as im %}#}
{#                            <img src="{{ im.url }}" title="{{ product.seo_title }}" alt="{{ product.title }}" data-toggle="tooltip" data-placement="top">#}
{#                        {% endthumbnail %}#}
{#                        <img src="{% version product.image 'medium' %}" title="{{ product.seo_title }}" alt="{{ product.title }}" data-toggle="tooltip" data-placement="top">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="item-footer">#}
{#                    <div class="item-footer-title"><span class="title">{{ product.title }}</span></div>#}
{#                    <div class="item-footer-bottom">#}
{#                        <div class="item-price">#}
{#                            {% include 'product_price.html' with obj=product %}#}
{#                        </div>#}
{#                        {% if product.get_price %}#}
{#                            <div class="item-button">#}
{#                                <a class='jsAddToCart' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">#}
{#                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> В корзину#}
{#                                </a><div id="ajaxError"></div>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
