{# --- FORM ADD PRODUCT IN CART --- #}
{# TODO css '<form class"cart"' #}
{% if product.productitem_set.exists %}
     <form enctype="multipart/form-data" method="post" id="addCartForm">{% csrf_token %}
         <div class="quantity">
             <input type="hidden" id="productId" value="{{ product.get_main_item.id }}">
             <div>{{ cart_product_form.quantity }}</div>
         </div>
     <input type="submit" class="jsAddToCart single_add_to_cart_button pr-font btn-color button alt" value="В корзину">
    <div id="ajaxError"></div>
     </form>
{% endif %}
{# --- end FORM ADD PRODUCT IN CART --- #}