{% if obj.get_price_discount > 0 %}
    <span class="now-price">{{ obj.get_price_discount|floatformat:'2' }}
        <i class="fa fa-rub" aria-hidden="true"></i>
    </span>
    <small class="old-price">{{ obj.get_price|floatformat:'2' }}
        <i class="fa fa-rub" aria-hidden="true"></i>
    </small>
{% elif obj.get_price > 0  %}
    <span class="now-price">{{ obj.get_price|floatformat:'2' }}
        <i class="fa fa-rub" aria-hidden="true"></i>
    </span>
{% endif %}