{% extends 'main.html' %}

{% load staticfiles %}
{% load mptt_tags %}

{% block title %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}
{% block description %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}
{% block keywords %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}
    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">

                <div class="post-12 page type-page status-publish hentry">
                    <div class="dervek">
                        <br><br><h1>Вход в личный кабинет</h1><hr>

                        {{ form.errors }}
                        {# --- login form --- #}
                        <div class="u-columns col2-set" id="customer_login">
                            <div class="u-column1 col-1">
                                <h2>Вход</h2>
                                <form class="dervek-form dervek-form-login login" method="post" action="{% url 'users:login' %}">{% csrf_token %}

                                    <p class="dervek-form-row dervek-form-row--wide form-row form-row-wide">
                                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}<span class="required">*</span></label>
                                        <input class="dervek-Input dervek-Input--text input-text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}">
                                        {{ form.username.errors }}
                                    </p>
                                    <p class="dervek-form-row dervek-form-row--wide form-row form-row-wide">
                                        <label for="{{ form.password.id_for_label }}">Пароль <span class="required">*</span></label>
                                        <input class="dervek-Input dervek-Input--text input-text" type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}">
                                        {{ form.username.errors }}
                                    </p>

                                    <p class="form-row">
                                        <input type="submit" name="login" class='btn-color' value="Войти" />
                                        <input type="hidden" name="next" value="{% url 'home:home' %}">
                                        <label for='id_rememberme' class="dervek-form__label dervek-form__label-for-checkbox inline">
                                            <input class="dervek-form__input dervek-form__input-checkbox" name="rememberme" type="checkbox" id="id_rememberme">
                                            <span>Запомнить меня</span>
                                        </label>
                                    </p>
                                    <p class="dervek-LostPassword lost_password">
                                        <a id="button-pass" href="{% url 'password_reset' %}">Забыли пароль?</a>
                                        <a class='min-button' href="{% url 'users:register' %}">Регистрация</a>
                                    </p>
                                </form>
                            </div>
                            {# --- END login form --- #}

{##}
{#                            <div class="u-column2 col-2">#}
{#                                <h2>Register</h2>#}
{#                                <form method="post" class="register">#}
{##}
{##}
{#                                    <p class="dervek-form-row dervek-form-row--wide form-row form-row-wide">#}
{#                                        <label for="reg_email">Email address <span class="required">*</span></label>#}
{#                                        <input type="email" class="dervek-Input dervek-Input--text input-text"#}
{#                                               name="email" id="reg_email" value=""></p>#}
{##}
{##}
{#                                    <p class="dervek-form-row dervek-form-row--wide form-row form-row-wide">#}
{#                                        <label for="reg_password">Password <span class="required">*</span></label>#}
{#                                        <input type="password"#}
{#                                               class="dervek-Input dervek-Input--text input-text"#}
{#                                               name="password" id="reg_password">#}
{#                                    </p>#}
{##}
{##}
{#                                    <p class="dervek-FormRow form-row">#}
{#                                        <input type="hidden" id="dervek-register-nonce"#}
{#                                               name="dervek-register-nonce" value="4e6608af2c">#}
{#                                        <input type="hidden" name="_wp_http_referer" value="/my-account/">#}
{#                                        <button type="submit" class="dervek-Button button" name="register"#}
{#                                                value="Register">Register#}
{#                                        </button>#}
{#                                    </p>#}
{##}
{##}
{#                                </form>#}
{#                            </div>#}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block additional_js %}{% endblock %}