{% extends 'main.html' %}

{% block title %}Регистрация{% endblock %}
{% block description %}Регистрация{% endblock %}
{% block keywords %}Регистрация{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}
    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">

                <div class="post-12 page type-page status-publish hentry">
                    <div class="dervek">
                        <br><br><h1>Регистрация</h1><hr>

                        {{ form.errors }}
                         <form method="post" action="{% url 'users:register' %}">{% csrf_token %}
                            {{ form.as_p }}
                             {% comment %}
                             [--- DO NOT DELETE---]
                             <div class="form-group">
                                <label for="id_phone">Телефон <span class="star">*</span></label>
                                <input type="text" name="phone" id="id_phone" class='jsPhoneInput' required>
                            </div>
                            {% endcomment %}
                            <input type="submit" value="Создать аккаунт">
                            <input type="hidden" name="next" value="{% url 'home:home' %}">
                            <a class='btn_black' href="{% url 'users:login' %}">Уже есть акаунт. Войти.</a>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_js %}{% endblock %}