.wrap_main_img{max-height:450px; overflow: hidden; background-color: #fff;}

/* slick */
.jsZoomPhotoMain{margin: 0 auto; max-height: 550px;}
.jsZoomPhotoThumb{ max-height: 100px; min-width: 100px; margin: 0 auto; padding: 0 15px; opacity: 0.8;
    border: 10px solid #fff; background-color: #fff;}
.jsZoomPhotoThumb:hover{opacity: 1;cursor: pointer;}
.jsMainSlick{margin: 10px auto;}
button.slick-next.slick-arrow, button.slick-prev.slick-arrow{
    position: absolute; bottom: 55%; z-index: 1; border: none; background: inherit; font-size: 0;}
button.slick-next.slick-arrow:before, button.slick-prev.slick-arrow:before{background-color: #ccc;
    position: absolute; font-size: 40px; font-weight: bold; color: #fff; opacity: 0.5; width: 50px; text-shadow: 0 1px 1px #000;}
button.slick-next.slick-arrow:hover:before, button.slick-prev.slick-arrow:hover:before{opacity: 0.8;}
button.slick-next{right:8%;}
button.slick-next:before{content: ">";}
button.slick-prev{left:0;}
button.slick-prev:before{content: "<";}