{% if messages %}
    <ul class="messages" style="position:fixed;font-size: 60px;">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{#  header-container transparent-header sticky-tr  #}
<header class="header-container transparent-header sticky-tr">
    <div class="header-wrap">
        {% include 'menu/templates/topmenu.html' %}
        {% include 'menu/templates/mainmenu.html' %}
    </div>
    <span class="header-dim"></span>
</header>