{% load mptt_tags %}
{#<div class="info">#}
{#  <div class='info-tooltip'>Text tooltip tooltip tooltip tooltip tooltip tooltip</div>#}
{#</div>#}
<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="catalog">
        <span class="title"><i class="fa fa-th-list" aria-hidden="true"></i> {{ leftbar.root_obj.title }}</span>
        <ul class='nav_left'>
            {% recursetree leftbar.obj_list %}
                <li class='{% if not node.is_leaf_node %}has-sub parent{% endif %}{% if leftbar.obj.title == node.title %}open{% endif %}'>
                    <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                    {% if not node.is_leaf_node %}

                        <input type="checkbox" {% if not node.is_child_node or leftbar.obj.title in node.title %}checked {% endif %} id="{{ node.id }}">
                        <label for="{{ node.id }}"></label>
                        <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>