{% if 'post' in type %}
    {% if next_prev.next %}
        <a class="slider-button-prev fa fa-caret-left" title="{{ next_prev.next.title|truncatechars:30 }}" href="{{ next_prev.next.get_absolute_url }}"></a>
    {% endif %}
    {% if next_prev.prev %}
        <a class="slider-button-next fa fa-caret-right" title="{{ next_prev.prev.title|truncatechars:30 }}" href="{{ next_prev.prev.get_absolute_url }}"></a>
    {% endif %}
{% else %}
    {% if next_prev.next %}
         <a class="product-nav next-product" title="{{ next_prev.next.title|truncatechars:30 }}" href="{{ next_prev.next.get_absolute_url }}">
            <i class="fa fa-caret-right"></i>
        </a>
    {% endif %}
    {% if next_prev.prev %}
        <a class="product-nav prev-product" title="{{ next_prev.prev.title|truncatechars:30 }}" href="{{ next_prev.prev.get_absolute_url }}">
            <i class="fa fa-caret-left"></i>
        </a>
    {% endif %}
{% endif %}