{# PAGINATION #}
{% if objects.has_other_pages %}
<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">

            {% if objects.has_previous %}
                <a class="prev page-numbers" href="?page={{ objects.previous_page_number }}"></a>
            {% else %}
               <span class="prev page-numbers" ></span>
            {% endif %}

            {% for i in objects.paginator.page_range %}
                {% if objects.number == i %}
                    <span aria-current="page" class="page-numbers current">{{ i }} <span class="sr-only">(current)</span></span>
                {% else %}
                    <a class="page-numbers" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if objects.has_next %}
                <a class="next page-numbers" href="?page={{ objects.next_page_number }}"></a>
            {% else %}
                <span class="next page-numbers"></span>
            {% endif %}

    </div>
</nav>
{% endif %}
{# endPAGINATION #}