{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block additional_css %}
{#    <link rel="stylesheet" href="{% static 'catalog/catalog.css' %}" type="text/css" media="all">#}
{#    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">#}
{% endblock %}


{% comment %}
---------------------------------------------------------------------------------------------------
{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=object.get_ancestors obj=object %}
{% endblock %}

{% block leftbar %}
    {% include 'default/leftbar.html' %}
{% endblock %}
---------------------------------------------------------------------------------------------------
{% endcomment %}


{% block main %}

    <div id="page-header" {% if object.get_main_image %}style="background-image: url({% version object.get_main_image.image 'max' %});"{% endif %}>
        <div class="center"><h1>{{ object.title }}</h1></div>
	</div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">

                {% if object.html %}
                     <div class="section-title">
                        <p class="subtitle">***</p>
                        <h3 class="pr-font">{{ object.seo_title }}</h3>
                    </div>
                    <div>{{ object.html|safe }}</div>
                {% endif %}

                {% include 'catalog/templates/catalog_child_list.html' %}

                {% if objects %}
                    <ul class='categories-nav pull-left'><small class="title">Сортировать по:</small>
                        <li class='cat-item {% if request.GET.price %} active{% endif %}'><a href="?price=-price">Цене</a></li>
                        <li class='cat-item {% if request.GET.is_new %} active{% endif %}'><a href="?is_new=-is_new">Новинки</a></li>
                    </ul>

                    <ul class='categories-nav pull_right'><small class="title">Показывать по:</small>
                        <li class='{% if request.GET.per_page in '12' %}active{% endif %}'><a href="?per_page=12">12</a></li>
                        <li class='{% if request.GET.per_page in '18' %} active{% endif %}'><a href="?per_page=18">18</a></li>
                        <li class='{% if request.GET.per_page in '24' %} active{% endif %}'><a href="?per_page=24">24</a></li>
                    </ul>

                    {% include 'catalog/templates/catalog_product_list.html' %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
