{# Slider #}
{#{% load thumbnail %}#}
{% load fb_versions %}


{% if slider_home %}
    <section id="slider">
        {% with slider=slider_home  %}
            {% for sh in slider %}
                <div class="item" style="background-image: url({% version sh.image 'max' %});">
                    <div class="info-wrap">
                        <div class="info">
                            <h3 class='title'><a href="{% if sh.url %}{{ sh.url|urlencode }}{% endif %}">{{ sh.title }}</a> </h3>
                            {% if sh.get_description %}<p>{{ sh.get_description }}</p>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}

        <span class="dim"></span>
        <span class="scroll">
            <span class="wheel"></span>
        </span>
    </section>

{% endif %}

{# <img src="{% version sh.image 'large' %}" title="{{ sh.title }}" alt="{{ sh.description }}" />#}
{# {% thumbnail sh.image '1600x600' crop="center" as im  %}#}
{#  <img src="{{ im.url }}" title="{{ sh.title }}" alt="{{ sh.description }}" />#}
{#  {% endthumbnail %}#}
{# endSlider #}


{% comment %}
<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for sh in slider_home %}
        <li data-target="#carousel-example-captions" data-slide-to="{{ forloop.counter0 }}"
            {% ifequal forloop.first True %}class="active"{% endifequal %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for sh in slider_home %}
        <div class="item {% ifequal forloop.first True %}active{% endifequal %}">
            <div class="carousel-caption">
                <h3 class='slider_title'>{{ sh.title }}</h3>
                <p class='lead'>{{ sh.description }}</p>
                {% if sh.url  %}<a class='see_more' href="{{ sh.url }}">подробнее</a>{% endif %}
            </div>
            <img src="/media/{{ sh.image }}" title="{{ sh.title }}" alt="{{ sh.title }}">
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endcomment %}
