{% load static %}
{% load fb_versions %}


{% comment %}
{{ area.html_code|safe }}
{% for area in include_areas %}

{% endcomment %}
{% if include_areas.exists %}
<section id="order-online">
    <div class="section-title">
        <p class="subtitle">***</p>
        <h3 class="pr-font">Наши правила</h3>
    </div>
    <div class="center">

        <div id="categories-wrapper" class="swiper swiper-container-horizontal">
            <ul id="categories-list" class="swiper-wrapper">
                {% for area in include_areas %}
                    {% if area.code in 'advantages' %}
                        <li class="item {% if forloop.first %}swiper-slide-active{% endif %}">
                            <div class="product-category product {% if forloop.first %}first{% endif %}">
                                <a href="">
                                    <h2>{{ area.title }}</h2>
                                    {% if area.image %}
                                        <img alt="{{ area.title }}" src="{% version area.image 'medium' %}">
                                    {% else %}
                                        <img alt="{{ area.title }}" src="{% static 'img/no-image.jpg' %}">
                                    {% endif %}
                                    <span class="gradient">{{ area.description|safe }}</span>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="swiper-pagination bullet-5 swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                class="swiper-pagination-bullet"></span></div>
        <div class="swiper-cat-prev fa fa-caret-left swiper-button-disabled"></div>
        <div class="swiper-cat-next fa fa-caret-right"></div>
    </div>
</section>
{% endif %}