{% load fb_versions %}

<section id="latest-news">
    <div class="latest-news_list">
        <div class="section-title">
            <p class="subtitle">***</p>
            <h3 class="pr-font">{{ obj.title }}</h3>
        </div>
        <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
            <div class="swiper-wrapper">
                {% for post in obj.post_set.all %}
                    <div class="item swiper-slide {% if forloop.first in 'True' %}swiper-slide-active{% endif %}"
                         style="background-image: url({% version obj.get_main_image.image 'max' %})">
                        <div class="center">
                            <div class="cols-2 margin-large">
                                <div>
                                    <img class="attachment-medium size-medium wp-post-image"
                                         src="{% version post.get_main_image.image 'medium' %}" alt="">
                                </div>
                                <div>
                                    <time class="date pr-font" datetime="{{ post.created }}">{{ post.created }}</time>
                                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                    {{ post.html|truncatewords_html:100|safe  }}
                                    <a class="btn-color" href="{{ post.get_absolute_url }}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <span class="alpha-gradient"></span>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
            <span class="slider-button-prev fa fa-caret-left swiper-button-disabled"></span>
            <span class="slider-button-next fa fa-caret-right"></span>
        </div>
    </div>
</section>