<div class="section-title">
    <p class="subtitle">***</p>
    <h4>Оставтье свой комментарий</h4>
</div>


<form method="post" action="">{% csrf_token %}
    <div id="form-messages" class="submit-form-message">{{ comment_form.errors }}</div>
    <div class="form-item">
        {{ comment_form }}
    </div>
    <input type="submit" class="btn-form" value="Оставить коментарий">
</form>
<br><br><br>