{% extends 'main.html' %}
{% load staticfiles %}
{% load url_handler %}
{#{% load thumbnail %}#}
{% load fb_versions %}

{% block title %}{{ post.page.seo_title }}{% endblock %}
{% block description %}{{ post.page.seo_description }}{% endblock %}
{% block keywords %}{{ post.page.seo_keywords }}{% endblock %}


{#{% block breadcrumbs %} #}
{#    {% include 'default/breadcrumbs.html' with tree=post.blog.get_family obj=post %}#}
{#{% endblock %}#}
{##}
{#{% block leftbar %}#}
{#    {% include 'default/leftbar.html' %}#}
{#{% endblock %}#}


{% block main %}
   <div id="page-header" {% if post.get_main_image %}style="background-image: url({% version post.get_main_image.image 'max' %});"{% endif %}>
        <div class="center"><h1>{{ post.title }}</h1></div>
       {% include 'default/next_prev.html' with type='post' %}
	</div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">
                {% include 'catalog/templates/catalog_child_list.html' %}


                <article id="post-{{ post.id }}" class="article no-margin even post-{{ post.id }} post type-post">
                    <div class="section-title">
                        <p class="subtitle">***</p>
                        <h3 class="pr-font">{{ post.seo_title }}</h3>
                    </div>

                    <div class="details_max">
                        <h2><a href="{{ post.get_absolute_url }}">{{ post.seo_title }}</a></h2>
                        <div class="content">{{ post.html|safe }}</div>
                        <time class="date pr-font" datetime="{{ post.created|date:'Y-m-d' }}">{{ post.created }}</time>
                    </div>
                </article>

                <div>
                    <small>Опубликованно: {{ post.created|date:'d/m/Y' }}</small><br>
                    {% if post.author %}
                        <small>Автор: {{ post.author.get_short_name }}</small><br>
                        <small>Коментарии: {{ post.comment_count }} шт.</small>
                    {% endif %}
                </div>

                {% if post.is_allow_comments %}
                    {% include 'default/comment_list.html' with comments=comments title='Все коментарии' %}
                    <hr>
                    {% include 'blog/templates/form_comment.html' %}
                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}