{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load url_handler %}
{#{% load thumbnail %}#}
{% load fb_versions %}
{% load mptt_tags %}
{% load rupluralize %}
{% load markdown_deux_tags %}

{% block title %}{{ blog.seo_title }}{% endblock %}
{% block description %}{{ blog.seo_description }}{% endblock %}
{% block keywords %}{{ blog.seo_keywords }}{% endblock %}


{% comment %}
----------------
{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=leftbar.obj.get_ancestors obj=blog %}
{% endblock %}

{% block leftbar %}
    {% include 'default/leftbar.html' with leftbar=leftbar %}
{% endblock %}
------------
{% endcomment %}



{% block main %}


    <div id="page-header" {% if object.get_main_image %}style="background-image: url({% version object.get_main_image.image 'max' %});"{% endif %}>
        <div class="center"><h1>{{ object.title }}</h1></div>
	</div>

    <div id="layout" class="wide">
        <div id="container">
            <div id="content" class="center">

            {% if object.html %}
                <article id="blog-{{ object.id }}" class="article blog-{{ object.id }}">
                    <div class="section-title">
                        <p class="subtitle">***</p>
                        <h3>{{ object.seo_title }}</h3>
                        <div class="content">{{ object.html|safe }}</div>
                        <time class="date pr-font pull_right" datetime="{{ object.created }}">{{ object.created }}</time>
                    </div>
                </article>
            {% endif %}

                {% include 'catalog/templates/catalog_child_list.html' %}

                {% if objects %}
                    <h5 class="pr-font">ВСЕ СТАТЬИ:</h5>{% include 'default/pagination.html' %}

                    {% for post in objects %}
                        <article id="post-{{ post.id }}"
                                {% if post.get_main_image %}
                                    class="article cols-2 no-margin even post-{{ post.id }} post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-ipsum tag-lorem tag-text"
                                {% else %}
                                    class="article no-margin even post-{{ post.id }} post type-post status-publish format-standard hentry category-uncategorized"
                                {% endif %}>

                            {% if post.get_main_image %}
                                <div class="image">
                                    <a href="">
                                        <img src="{% version post.get_main_image.image 'large' %}" class="attachment-medium size-medium wp-post-image" alt="{{ post.title }}" title="{{ post.seo_title }}">
                                    </a>
                                </div>
                            {% endif %}

                            <div class="details">
                                <time class="date pr-font" datetime="{{ post.created }}">{{ post.created }}</time>
                                <h2>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h2>
                                <div class="content"><p>{{ post.description|truncatechars:250 }}</p></div> {# |truncatewords_html:40|safe #}
                                <a class="btn-plate" href="{{ post.get_absolute_url }}">Подробнее</a>
                            </div>
                        </article>
                    {% endfor %}

                   {% include 'default/pagination.html' %}

                {% else %}
                    <p><i>: (</i> Записи еще не опубликованны...</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
