/*main menu*/
#mainmenu {position: relative; /*height: 45px;*/  margin: 0 auto; padding: 0; /*width: 100%;*/display: inline; z-index: 10;}
#mainmenu ul, #mainmenu ul ul, #mainmenu ul ul li { list-style: none; padding: 0; margin: 0;}
#mainmenu ul { clear: left; position: relative;}
#mainmenu ul li {position: relative; float: left;}
#mainmenu ul li a {/*display: block; padding: 13px 25px;*/}
#mainmenu ul > li:hover > a {color: #b21b1b;}
/** Индикатор наличия подкатегорий верхнего уровня **/
#mainmenu > ul > li.parent > a::after { border-left: 1px solid #fff; border-top: 1px solid #fff; content: "";
    display: inline-block; vertical-align: super; margin: 4px 0 0 8px; -webkit-transform: rotate(-135deg);  -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); height: 5px; width: 5px;}
#mainmenu > ul > li.parent:hover > a::after{border-color: #b21b1b;}
/*************************** Выпадающие подпункты **/
#mainmenu ul li ul { background-color: #fff; box-shadow: 0 0 5px -1px #888; visibility: hidden; position: absolute;
    height: auto; min-width: 180px; width: 100%; }
#mainmenu ul li:hover > ul { visibility: visible;z-index: 11; }
.nav > li > a:hover, .nav > li > a:focus{background-color: inherit;}
#mainmenu ul li ul li { box-shadow: 0 1px 0 #ddd, 0 2px 0 #fff; -moz-box-shadow: 0 1px 0 #ddd, 0 2px 0 #fff;
    -o-box-shadow: 0 1px 0 #ddd, 0 2px 0 #fff; -webkit-box-shadow: 0 1px 0 #ddd, 0 2px 0 #fff;
    -ms-box-shadow: 0 1px 0 #ddd, 0 2px 0 #fff; position: relative; left: 0; float: none; height: auto; }
#mainmenu ul li ul li:last-child { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#mainmenu ul li ul li a {color: #333; padding: 0 15px;}
/*************************** Выпадающие пункты второго уровня **/
#mainmenu ul li ul li ul {top: 0; left: 89%; margin: 0 0 0 20px; _margin: 0;/*IE6 only*/}
/** Индикатор наличия подкатегорий 2 уровня **/
#mainmenu > ul > li ul li.parent > a::after { border-left: 1px solid #888; border-top: 1px solid #888;content: "";
    display: inline-block; vertical-align: top;margin: 22px 0 0 8px; -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);
    height: 5px; width: 5px; float: right;}
/********************** Стрелочки на подпунктах **/
#mainmenu ul li > ul > li:first-child > a:before { content: ''; position: absolute; left: 40px; top: -6px; border-left: 6px solid transparent;
    border-right: 6px solid transparent; border-bottom: 6px solid #333;}
#mainmenu ul ul ul li:first-child a:before { left: -6px; top: 50%; margin-top: -6px; border-left: 0; border-bottom: 6px solid transparent;
    border-top: 6px solid transparent; border-right: 6px solid #888;}
#mainmenu ul ul li:first-child a:hover:before { border-bottom-color: #8a6f32}
#mainmenu ul ul ul li:first-child a:hover:before {border-right-color: #8a6f32; border-bottom-color: transparent;}
#mainmenu > ul > li.parent > ul > li:first-child > a::before {display: none;}
#mainmenu > ul > li.parent > a::before { bottom: 0; border-left: 6px solid transparent; border-right: 6px solid transparent;
    border-bottom: 6px solid #8a6f32; content: ''; visibility: hidden; position: absolute; left: 50%; margin-left: -6px;}
