{% load mptt_tags %}
{% load url_handler %}
{% load fb_versions %}

<div class="header header-v1 ">
    <div class="center clearfix">
        <div class="logo">
            <div class="text-logo">
                <a href="/">
                    {% if setting_template.logo %}<img src="{% version setting_template.logo 'small' %}" alt="{{ setting_template.site.name }}" title="{{ setting_template.title }}">
                    {% else %}
                        <h2 class="title">{{ setting_template.site.name }}</h2>
                        <small>{{ setting_template.title }}</small>
                    {% endif %}
                </a>
            </div>
        </div>

        <span class="icon-menu fa fa-bars"></span>
        <nav id="nav">
            {% with total_qty=cart|length %}
                {% if total_qty %}
                <div id="cart">
                    <a class="cart-contents" href="{% url "cart:cart-detail" %}">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="count jsTotalCartQty">{{ total_qty }}</span>
                    </a>
                    <div class="widget dervek widget_shopping_cart">
                        <div class="widget_shopping_cart_content">
                            <p class="dervek-mini-cart__empty-message">
                                <span class='XXXCARTtotalprice'>{{ cart.get_total_price|floatformat:'2' }}</span>
                                <span>Р.</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endwith %}

            <ul id="menu-navigation" class="primary-menu">
                {% recursetree mainmenu %}
                    <li id="menu-item-{{ node.id }}"
                        class='menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ node.id }}
                            {% if not node.is_leaf_node %}__parent menu-item-has-children{% endif %}'>
                        <a href="{% if node %}{{ node|url_handler:'mainmenu' }}{% else %}/{% endif %}">{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children sub-menu">{{ children }}</ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </nav>
    </div>
</div>

