<div id="top-bar">

    {% comment %}
    ----------------
    {% include 'search_form.html' %}
    ----------------
    {% endcomment %}

    <div class="center clearfix">
        {% include 'site_info/templates/social_networs.html' with type='html_link' %}

        <ul id="menu-top-nav" class="additional-links">
            <li id="menu-item"
                class="menu-item menu-item-type-post_type menu-item-object-page">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}">Аккаунт</a>
                {% else %}
                    <a href="{% url 'users:login' %}">Войти</a>
                {% endif %}
            </li>
            <li id="menu-item-242"
                class="menu-item menu-item-type-post_type menu-item-object-page">
                {% if user.is_authenticated %}
                    <a href="{% url 'users:logout' %}">Выход</a>
                {% else %}
                    <a href="{% url 'users:register' %}">Регистрация</a>
               {% endif %}
            </li>
        </ul>
        <ul class="header-info">
            {% if setting_template.address %}
            <li>
                <address><i class="fa fa-map-marker"></i>{{ setting_template.address }}</address>
            </li>
            {% endif %}

            {% if setting_template.phone %}
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{ setting_template.phone }}">{{ setting_template.phone }}</a>
                </li>
            {% endif %}
            {% if setting_template.email %}
            <li>
                <i class="fa fa-email"></i>
                <a href="email:{{ setting_template.email }}">{{ setting_template.email }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

